/* Header */
.header-container{
  margin: auto;
  display: flex;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: bisque;
  justify-content: space-between;
}

.header-container div{
    padding: 20px;
}

.link{
  text-decoration: none;
  color: black;
}

.box-1{
  flex: 2;
  padding: 10px;
}

.text-container{
  margin: auto;
  padding: 50px;
  text-align: center;
}

/* Text Search */
.input-box{
  background-color: rgb(217, 217, 224);
  border: none;
  border-radius: 25px;
  height: 30px;
  width: 30%;
  text-align: center;
}

.send-button{
  border: none;
  padding: 8px;
  border-radius: 20px;
  width: 100px;
  margin-left: 20px;
  color: blue;
}


/* Dashboard */
.dashboard-container{
  background-color: bisque;
  margin: auto;
  padding: 30px;
  width: 60%;
}

.card-container{
  background-color: rgb(185, 216, 168);
  border-radius: 20px;
  padding: 10px 15px 10px 15px ;
  display: flex;
  align-items: center;
  
}

.image{
  flex: 1;
}
.name{
  flex: 8;
}
.count{
  flex: 0;
}
